doctype html
html(ng-app="monterailApp")
  head
    title my jade template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js")
    script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
    script(src="js/app.js")
    script(src="js/services.js")
    script(src="js/controllers.js")
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    div(ng-view)